user {{nginx_user}};
worker_processes {{nginx_worker_processes}};
pid {{nginx_pid_file}};

events {
    worker_connections  {{nginx_worker_connections}};
    multi_accept        on;
    use                 epoll;
}

http {

    charset UTF-8;

    # disable this if you're using Vagrant+Virtualbox and having cache issues
    sendfile on;

    tcp_nopush  on;
    tcp_nodelay on;
    keepalive_timeout {{nginx_keepalive_timeout}};
    types_hash_max_size 2048;
    client_max_body_size {{nginx_client_max_body_size}};

    server_names_hash_bucket_size {{nginx_hash_bucket_size}};

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    open_file_cache           max=200000 inactive=20s;
    open_file_cache_valid     30s;
    open_file_cache_min_uses  2;
    open_file_cache_errors    on;

    # Logging Settings

    access_log {{nginx_access_log}};
    error_log {{nginx_error_log}};

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
