check process elasticsearch
    with pidfile "/var/run/elasticsearch.pid"
    start program = "/etc/init.d/elasticsearch start"
    stop program = "/etc/init.d/elasticsearch stop"
    if 2 restarts within 3 cycles then timeout
    if totalmem > 350 Mb then alert
    if cpu usage > 95% for 3 cycles then restart
    if failed host 127.0.0.1 port 6379 then restart
    if loadavg(15min) greater than 10 for 50 cycles then alert
    if 5 restarts within 5 cycles then timeout